/*Section 1*/

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 24px;

}

.container-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white; 
}

.header {
    display: flex;
    padding: 14px;
    padding-left: 100px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    display: flex;
    padding-right: 100px;
    gap: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.hero-secondary {
    font-size: 18px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap:64px;
    padding: 36px;
    margin-bottom: 48px;
}

img {
    height: auto;
    width: 300px;
}

.header-bottom-left {
    max-width: 450px;
    flex: 1;
}

.hero-bottom-right {
    flex-shrink: 0;
}

.header-bottom-left .hero-secondary {
    font-size: 18px;
    font-weight: lighter;
}

.hero-main {
    font-size: 48px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

/* Section 2 */

.container-two {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.box {
    width: 120px;
    height: 120px;
    padding: 15px;
    border: 4px solid #3882f6;
    background-color: white;
    border-radius: 10px;
}
.ctwo-boxes {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.item p {
    text-align: center;
    font-size: 14px;
}

.container-two .base-text {
    text-align: center;
    font-size: 36px;
}

.container-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 60px 20px;
    text-align: center;
}

.container-three h1 {
    font-size: 24px;
    color: #1f2937;
    font-weight:300;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.container-three p {
   display: flex;
   justify-content: flex-end;
   font-size: 18px;
   font-weight: bold;
   max-width: 800px;
   width: 100%;
   text-align: right;
}

.container-four {
    margin: 80px;
}

.container-four-main {
    display:flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    color: white;
    justify-content: space-evenly;
}

.container-four-left {
    margin: 40px;
}

.container-four-left h1 {
    font-size: 18px;
    margin: 0;
}

.container-four-left p {
    font-size: 12px;
    margin: 0;
}


.container-four-right button {
    border: solid white;
    border-width: 2px;
    border-radius: 4px;
    width: 80px;
    height: auto;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 20px 40px;
    text-align: center;
    
}

.footer h1 {
    font-size: 14px;
    font-weight: lighter;
}
